{% load static %}

<div class="widget ltn__author-widget">
    <div class="ltn__author-widget-inner text-center">
        <img src="{% static 'img/team/4.jpg' %}" alt="Image">
        <h5>{{ post.author }}</h5>
        <small>گردشگر، عکاس</small>
        <div class="product-ratting">
            <ul>
                <li><a href="#"><i class="fas fa-star"></i></a></li>
                <li><a href="#"><i class="fas fa-star"></i></a></li>
                <li><a href="#"><i class="fas fa-star"></i></a></li>
                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                <li><a href="#"><i class="far fa-star"></i></a></li>
                <li class="review-total"> <a href="#"> ( 9 نظر )</a></li>
            </ul>
        </div>
        <p>
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
            گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
        </p>
        <div class="ltn__social-media">
            <ul>
                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>

                <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
</div>
